@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  
  --color-mai-beige: #fdfaf6;
  --color-mai-pink: #fce4ec;
  --color-mai-gold: #d4af37;
  --color-mai-dark: #2d2d2d;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans text-mai-dark bg-mai-beige;
  }
  h1, h2, h3, h4 {
    @apply font-serif;
  }
}
